<h1>{{ section.settings.headline }}</h1>
{% schema %}
{
  "name": "2 Col with text & image",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label":"Headline",
    }
  ],
  "blocks": [
    {
      "name":"content",
      "limit":1,
      "type": "content",
      "settings": [
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub Heading",
          "placeholder": "Sub title of image"
        },
        {
          "type": "richtext",
          "id": "right_content",
          "label": "Content Block"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]

    }
  ],
  "presets": [
    {
      "name": "2 Columm with text & image"
    }
  ]
}
{% endschema %}
