<h1>{{ section.settings.headline }}</h1>
{% schema %}
{
  "name": "2 Col with text & image",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label":"Headline",
    }
  ],
  "blocks": [
    {
      "name":"Sub Heading",
      "limit":1,
      "type": "sub_head",
      "settings": [
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub Heading",
          "placeholder": "Sub title of image"
        },       
      ]

    },
    {
      "name":"Text",
      "limit":1,
      "type": "sub_content",
      "settings":[
        {
          "type": "richtext",
          "id": "right_content",
          "label": "Content Block"
        }        
      ]
    },
    {
      "name":"Image",
      "limit":1,
      "type": "sub_image",
      "settings":[
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }       
      ]
    }
  ],
  "presets": [
    {
      "name": "2 Columm with text & image"
    }
  ]
}
{% endschema %}
