<h1>{{ section.settings.headline }}</h1>
{% schema %}
{
  "name": "2 Col with text & image",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label":"Headline",
    }
  ],
  "blocks": [
    {
      "name":"sub_head",
      "limit":1,
      "type": "sub_head",
      "settings": [
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub Heading",
          "placeholder": "Sub title of image"
        },       
      ]

    },
    {
      "name":"content",
      "limit":1,
      "type": "content",
      "settings":[
        {
          "type": "richtext",
          "id": "right_content",
          "label": "Content Block"
        }        
      ]
    }
  ],
  "presets": [
    {
      "name": "2 Columm with text & image"
    }
  ]
}
{% endschema %}
