<h1>Hello 2 Columm section</h1>
{% schema %}
{
  "name": "2 Col with text & image",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label":"Headline",
    }
  ],
  "presets": [
    {
      "name": "2 Columm with text & image"
    }
  ]
}
{% endschema %}
